@import url('https://fonts.googleapis.com/css2?family=Geologica:wght,CRSV@100..900,0&family=Imprima&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Geologica", sans-serif;
}

body {
    background-color: #151E3F;
    color: white;
}

.nav {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 3em 0;
    margin-top: 40px;
    margin-bottom: 2.5em;
}

.Hmbrm{
    position: absolute;
    left: 4em;
}

.phoria_logo{
    position: absolute;
    margin-top: -15px
}

#h1hero {
    margin-bottom: 2em;
}

.hero {
    padding: 3.5em;
    margin-top: 2;
    background-image: url(Images_map/regenfoto.svg);
    background-size: cover;
}

.regenvrouw {
    margin-left: 5em;
    margin-top: -10em;
    margin-bottom: -3.8em;
    width: 90%;
    
}
 
.btn {
 position: absolute;
 background-color:  #FA9589;
 text-decoration: none;
 color: white;
 margin-top: 200px;
 padding: 10px ;
 border-radius: 15em;
 padding-left: 1.5em;
 padding-right: 1.5em;
}

.Over_ons {
    text-align: center;
    padding-top: 2em;
    background-color: #FA9589;
    font-size: 1.5em;
}

.Regengroepimg {
    width: 40%;
    margin-top: 1.5em;
}

.Phoria_par1 {
    font-size: small;
    padding-top: 3em;
    padding-left: 3em;
    padding-right: 3em;   
}

.Phoria_p2 {
    font-size: small;
    padding-top: 2em;
    padding-left: 3em;
    padding-right: 3em;
    padding-bottom: 3em;
}

.H2text {
    text-align: center;
    margin-top: 2em;
}

.P_text {
    text-align: center;
    margin-top: 3em;
    padding-left: 3em;
    padding-right: 3em;
    padding-bottom: 1em;
}

.P_text2{
    text-align: center;
    padding-left: 3em;
    padding-right: 3em;
    padding-bottom: 3em;
}

.tlfn_img {
    align-content: center;
    width: 50%;
    margin-left: 8em;
    margin-bottom: 5em;
}

.btn_TextKoopNu {
 background-color: #FA9589;
 text-decoration: none;
 color: white;
 margin-top: 10em;
 margin-bottom: 10em;
 margin-left: 11em;
 margin-top: 10em;
 padding: 10px;
 border-radius: 15em;
 padding-left: 1.5em;
 padding-right: 1.5em; 
 
}

.h2_IdeeenText {
    background-color: #FA9589;
    margin-top: 3em;
    padding: 4em 1.5em;
    text-align: center;
    font-size: 2em;
}

.ideeen {
    text-align: center;
    background-color: #FA9589;
    padding-bottom: 8em;
}

.ideeen_link {
    margin-bottom: 10em;
    background-color: #151E3F;
    color: #FA9589;
    text-decoration: none;
    padding-left: 5em;
    padding-right: 5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-radius: 10em;


}

.waarden {
    text-align: center;
    margin-bottom: 10em;

}

.waarden_Text {
    font-size: 2em;
    margin-top: 2em;
    margin-bottom: 2em;
    
}

.waarde_stille_euforie {
    margin-bottom: 5em;
}

.waarde_rust {
    margin-bottom: 5em;
}

.waarde_verbinding {
    margin-bottom: 5em;
}

.p_Euforie {
    margin-top: 2em;
    margin-left: 8em;
    margin-right: 8em;
}

.p_Rust {
    margin-top: 2em;
    margin-left: 8em;
    margin-right: 8em;
}

.p_Verbinding {
    margin-top: 2em;
    margin-left: 9em;
    margin-right: 9em;
    
}

.contacteer_ons{
    text-align: center;
    margin-bottom: 2em;
}

.contact_info {
    text-align: center;

}

.contacteer_Text {
    margin-bottom: 2em;
}
