@import url('https://fonts.googleapis.com/css2?family=Geologica:wght,CRSV@100..900,0&family=Imprima&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Geologica", sans-serif;
}

body {
    background-color: #151E3F;
    color: white;
    
}

.nav {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 3em 0;
    margin-top: 40px;
    margin-bottom: 2.5em;
}

.Hmbrm{
    position: absolute;
    left: 4em;
}

.phoria_logo{
    position: absolute;
    margin-top: -15px
}

#h1hero {
    margin-bottom: 2em;

}

.hero {
    padding: 3.5em;
    margin-top: 2;
    background-image: url(Images_map/regenfoto.svg);
    background-size:cover ;

}

.regenvrouw {
    margin-left: 5em;
    margin-top: -10em;
    width: 90%;
    
}
 
.btn {
 position: absolute;
 background-color:  #FA9589;
 text-decoration: none;
 color: white;
 margin-top: 200px;
 padding: 10px ;
 border-radius: 15px;
 padding-left: 1.5em;
 padding-right: 1.5em;

}
