@import url('https://fonts.googleapis.com/css2?family=Geologica:wght,CRSV@100..900,0&family=Imprima&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Geologica", sans-serif;
}

body {
    background-color: #151E3F;
    color: white;
}

.nav {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 3em 0;
    margin-top: 40px;
    margin-bottom: 2.5em;
}

.Hmbrm{
    position: absolute;
    left: 4em;
}

.phoria_logo{
    position: absolute;
    margin-top: -15px
}

#h1hero {
    margin-bottom: 2em;
}

.hero {
    padding: 3.5em;
    margin-top: 2;
    background-image: url(Images_map/regenfoto.svg);
    background-size: cover;
}

.regenvrouw {
    margin-left: 5em;
    margin-top: -10em;
    margin-bottom: -3.8em;
    padding-right: -10em;
    width: 90%;
    
}
 
.btn {
 position: absolute;
 background-color:  #FA9589;
 text-decoration: none;
 color: white;
 margin-top: 200px;
 padding: 10px ;
 border-radius: 15em;
 padding-left: 1.5em;
 padding-right: 1.5em;
}

.Over_ons {
    text-align: center;
    padding-top: 2em;
    background-color: #FA9589;
    font-size: 1.5em;
}

.Regengroepimg {
    width: 40%;
    margin-top: 1.5em;
}

.Phoria_par1 {
    font-size: small;
    padding-top: 3em;
    padding-left: 3em;
    padding-right: 3em;   
}

.Phoria_p2 {
    font-size: small;
    padding-top: 2em;
    padding-left: 3em;
    padding-right: 3em;
    padding-bottom: 3em;
}

.H2text {
    text-align: center;
    margin-top: 2em;
}

.P_text {
    text-align: center;
    margin-top: 3em;
    padding-left: 3em;
    padding-right: 3em;
    padding-bottom: 1em;
}

.P_text2{
    text-align: center;
    padding-left: 3em;
    padding-right: 3em;
    padding-bottom: 3em;
}

.tlfn_img {
    align-content: center;
    width: 50%;
    margin-left: 8em;
    margin-bottom: 5em;
}

.btn_TextKoopNu {
 background-color: #FA9589;
 text-decoration: none;
 color: white;
 margin-top: 10em;
 margin-bottom: 10em;
 margin-left: 11em;
 margin-top: 10em;
 padding: 10px;
 border-radius: 15em;
 padding-left: 1.5em;
 padding-right: 1.5em; 
 
}

.h2_IdeeenText {
    background-color: #FA9589;
    margin-top: 3em;
    padding: 4em 1.5em;
    text-align: center;
    font-size: 2em;
}

.ideeen {
    text-align: center;
    background-color: #FA9589;
    padding-bottom: 8em;
}

.ideeen_link {
    margin-bottom: 10em;
    background-color: #151E3F;
    color: #FA9589;
    text-decoration: none;
    padding-left: 5em;
    padding-right: 5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-radius: 10em;


}

.waarden {
    text-align: center;
    margin-bottom: 10em;

}

.waarden_Text {
    font-size: 2em;
    margin-top: 2em;
    margin-bottom: 2em;
    
}

.waarde_stille_euforie {
    margin-bottom: 5em;
}

.waarde_rust {
    margin-bottom: 5em;
}

.waarde_verbinding {
    margin-bottom: 5em;
}

.p_Euforie {
    margin-top: 2em;
    margin-left: 8em;
    margin-right: 8em;
}

.p_Rust {
    margin-top: 2em;
    margin-left: 8em;
    margin-right: 8em;
}

.p_Verbinding {
    margin-top: 2em;
    margin-left: 9em;
    margin-right: 9em;
    
}



.contacteer_ons{
  padding: 4rem 2rem;
}


.contacteer_Text{
  text-align: center;
  margin-bottom: 3rem;
}

/* Form blok centreren + breedte */
.contact_form{
  max-width: 700px;
  margin: 0 auto;
}


.contact_form label{
  display: block;
  font-weight: 700;
  margin: 2rem 0 0.7rem 0;
}

/* Inputs “lijn” stijl */
.contact_form input,
.contact_form textarea{
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: 4px solid white;  /* de lijn */
  outline: none;
  color: white;
  font-size: 18px;
  padding: 0.6rem 0;
}

/* textarea iets hoger maar nog steeds underline look */
.contact_form textarea{
  resize: none;
  height: 70px; /* pas aan als je wil */
}

/* Button onderaan gecentreerd */
.verstuur_btn{
  display: block;
  margin: 3rem auto 0 auto;
  background-color: #FA9589;
  color: white;
  border: none;
  border-radius: 999px;
  padding: 1rem 3rem;
  font-size: 18px;
  cursor: pointer;
}

.verstuur_btn{
    margin-top: 5em;
    margin-bottom: 5em;
    background-color: #FA9589;
    color: white;
    border-radius: 5em;
    padding-left: 3em;
    padding-bottom: 1em;
    padding-right: 3em;
    padding-top: 1em;
    font-size: 15px;

}


.contact_info {
    background-color: #FA9589;
    border-radius: 2em;
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;

}

.contacteer_ons {
    flex: 1;
}

.contact_info {
    flex: 1;
    max-width: 400px;   /* kaart blijft mooi compact */
    background-color: #FA9589;
    border-radius: 2em;
    padding: 2rem;
    text-align: center;
}

.contact_info {
    margin-left: 3em;
}

.Info_text {
    padding-top: 1em;
    padding-bottom: 1em;

}

.Gmail_Text {
    margin-bottom: 1em;
    margin-right: 5em;
    display: flex;
    justify-content: space-between;
}

.Phone_Text {
    margin-bottom: 1em;
     margin-right: 5em;
    display: flex;
    justify-content: space-between;
}

.Address_Text {
    margin-bottom: 1em;

    
}

.Tijd_Text {
    margin-bottom: 1em;
    margin-right: 8em;
    display: flex;
    justify-content: space-between;

}

footer{
    color: white;
}

footer{
  display: flex;
  justify-content: space-around; 
  align-items: center;
  padding: 2rem 1.5rem;
  width: 100%;
}


footer a{
  color: white;
  text-decoration: none;          

} 

@media (min-width: 1320px){
 .regenvrouw {
    width: 35%;
    margin-left: 700px;
    
}

.Phoria_Ptext {
    width: 560px;
    font-size: 1.5em;
    margin-top: -50px;
}

#h1hero{
    font-size: 4em;
    width: 560px;
    margin-top: 100px;
}

.btn {
    margin-bottom: 50px;
    margin-top: 100px;
    font-size: 1em;
    padding-left: 3em;
    padding-right: 3em;
}


.Regengroepimg {
    width: 500px;
    height: auto;
    margin-right: 30em;
}

.overons_Text {
    font-size: 2em;
    margin-left: 5em;
}

.Phoria_par1 {
    margin-left: 2em;

}

.Phoria_p2 {
    margin-left: 2em;
}

.H2text {
    font-size: 3em;
    margin-right: 15em;
    text-align: left;
}

.P_text {
    margin-right: 15em;
    text-align: left;
    
}

.tlfn_img{
    width: 500px;
    height: auto;
    margin-left: 50em;
}

.h2_IdeeenText {
    font-size: 3em;
}

.ideeen_link{
    padding-right: 15em;
    padding-left: 15em;
}

.waarden_Text{
    font-size: 3em;

}

.Alles_waardenText{
    display: flex;

}

.Alles_Contact_Info {
    display: flex;
    gap: 4rem;              /* ruimte tussen de 2 blokken */
    align-items: flex-start;
}

.contacteer_ons {
    flex: 1;
}

.contact_info {
    flex: 1;
}




}
